[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[access "refs/*"]
	owner = group plugins-login-redirect
	forgeCommitter = group plugins-login-redirect
	forgeCommitter = group plugins-login-redirect
[project]
	description = Plugin to redirect anonymous users to the login form
[access "refs/tags/*"]
	createTag = group plugins-login-redirect
	create = group plugins-login-redirect
