[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[access "refs/*"]
	forgeCommitter = block group plugins-login-redirect
	exclusiveGroupPermissions = forgeCommitter
[project]
	description = Plugin to redirect anonymous users to the login form
[access "refs/tags/*"]
	create = block group plugins-login-redirect
	createSignedTag = block group plugins-login-redirect
	push = deny group plugins-login-redirect
	exclusiveGroupPermissions = create createSignedTag push
